<h1>Editing zone</h1>

<% form_for(@zone) do |f| %>
  <%= f.error_messages %>

  
      <p>
    <%= f.label :entityid %><br />
    <%= f.text_field :entityid %>
  </p>
  
    <p>
    <%= f.label :longitude %><br />
    <%= text_field_tag :longitude, @zone.geom.sdo_point.x %>
  </p>
     <p>
    <%= f.label :latitude %><br />
    <%= text_field_tag :latitude, @zone.geom.sdo_point.y %>
  </p> 

  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @zone %> |
<%= link_to 'Back', zones_path %>