%p
    - date = @resource.recorddate.to_formatted_s(:long)
    - unless params[:controller] == "resources"
        = link_to date, @resource
    - else
        = date
    - @resource.resource_references.each do |rr|
        %p
            %i
                == #{rr.reference.source}, #{rr.reference.year}, #{rr.reference.title}
- tonnage_style = String.new
- if @resource.access_code != "O"  or @resource.access_code == "U"
    - tonnage_style="invisible"
%table{:class=>:resource}
    %tr
        %th{:colspan=>"2", :rowspan=>"2", :class=>:blank} &nbsp;
        - if @resource.ppr?
            - reserves_colspan = 1
        - else
            - reserves_colspan = 2
        - if @resource.mid?
            - resources_colspan = 2
        - else
            - resources_colspan = 3
        - unless @resource.pvr.blank? and @resource.pbr.nil? and @resource.ppr.nil?
            %th{:colspan=>reserves_colspan, :class=>:reserves} Ore Reserves
        - unless @resource.mrs.nil? and @resource.idr.nil? and @resource.mid.nil? and @resource.ifr.nil?
            %th{:colspan=>resources_colspan, :class=>:resources} Mineral Resources
        - if @resource.other
            %th{:rowspan=>2,:class=>:resources} Other
    %tr
        - unless @resource.pvr.nil? and @resource.pbr.nil? and @resource.ppr.nil?
            - unless @resource.ppr?
                %th{:class=>"header"} Proved
                %th{:class=>"header"} Probable
            - else
                %th{:class=>"header"} Proved and Probable
        - unless @resource.mrs.nil? && @resource.idr.nil? && @resource.mid.nil? && @resource.ifr.nil?
            - unless @resource.mid?
                %th{:class=>"header"} Measured
                %th{:class=>"header"} Indicated
            - else
                %th{:class=>"header"} Measured and Indicated
            - unless @resource.ifr.nil?
                %th{:class=>"header"} Inferred
    %tr{:class=>tonnage_style}
        %th Tonnage
        %th= @resource.unit_quantity
        - unless @resource.pvr.nil? and @resource.pbr.nil? and @resource.ppr.nil?
            - unless @resource.ppr?
                %td=  @resource.try(:pvr)
                %td=  @resource.try(:pbr)
            - else
                %td=  @resource.try(:ppr)
        - unless @resource.mrs.nil? and @resource.idr.nil? and @resource.mid.nil? and @resource.ifr.nil?
            - unless @resource.mid?
                %td=  @resource.try(:mrs)
                %td=  @resource.try(:idr)
            - else
                %td= @resource.try(:mid)
            - unless @resource.ifr.nil?
                %td= @resource.try(:ifr)
        - unless @resource.other.nil?
            %td= @resource.try(:other)
    - unless @resource.zero?
        - grades = @resource.resource_grades
        - unless (current_user && current_user.ozmin?)
            - grades = grades.published
        - grades.each do |grade|
            - style = String.new
            - unless grade.access_code == "O"
                - style=:confidential
            %tr{:class=>style}
                %th= grade.try(:commodid)
                %th= grade.try(:unit_grade)
                - unless @resource.pvr.nil? && @resource.pbr.nil? && @resource.ppr.nil?
                    - if @resource.ppr.nil?
                        %td=  grade.try(:pvr)
                        %td=  grade.try(:pbr)
                    - else
                        %td=  grade.try(:ppr)
                - unless @resource.mrs.nil? && @resource.idr.nil? && @resource.mid.nil? && @resource.ifr.nil?
                    - if @resource.mid.nil?
                        %td= grade.try(:mrs)
                        %td= grade.try(:idr)
                    - else
                        %td= grade.try(:mid)
                    - unless @resource.ifr.nil?
                        %td= grade.try(:ifr)
                - unless  @resource.other.nil?
                    %td= grade.try(:other)
    - else
        %tr.zeroed
            %td{:colspan=>8} This resource has been zeroed