%p
  = form_for @resources do
    %table
      %tr
        %td RESOURCENO
       %td ENO
       %td ZONE NAME
       %td DEPOSIT NAME
      -@resources.each do |resource|
       %tr
          %td
            =resource.resourceno
          %td
            =resource.eno
          %td
            -zone = resource.zone
            =zone.entityid
          %td
            -deposit = zone.deposit
            =deposit.entityid
         %td
            = check_box_tag "resources[]", resource.id
=content_for :sidebar do
  = form_tag url_for(params), :method => :get do  
    %table
      %tr
        %td= label_tag :qa_status, "QA Status Code"
        %td= select_tag :qa_status, options_for_select({"Checked"=>:C,"Unchecked"=>:U},params[:qa_status])
      %tr
        %td= label_tag :entered_by, "Entered By"
        %td= text_field_tag :entered_by, params[:entered_by]
      %tr
        %td= label_tag :entered_by, "Date Entered"
        %td= text_field_tag :entry_date, params[:entry_date]
    =submit_tag "Search", :name=>nil
=will_paginate(@resources)  
