=content_for(:head) do
    = render "shared/map"
    = javascript_include_tag "map"
    %script{:type => "text/javascript"}
        init_opts = #{params.to_json}
        $(document).ready(function(){initialize(init_opts);});
%p
    #map.smallmap
- content_for(:sidebar) do
    %p= render :partial => "deposits/query"
- content_for(:controller_nav) do
    %p= render :partial => "deposits/links"            