=content_for(:head) do
    = render "shared/map"
    = javascript_include_tag :rhubarb, :defer => "defer"
    %script{:type => "text/javascript",:defer=>:defer}
        var options = {layerOptions : #{raw params.to_json}}
        $(document).ready(function(){
        var map=new Rhubarb('map',options)
        });   
%p
    #map.smallmap
    #loading
- content_for(:sidebar) do
    %p= render :partial => "deposits/query"
- content_for(:controller_nav) do
    %p= render :partial => "deposits/links"
- content_for(:title_bar) do
    ==Deposits: Map
    - unless params[:commodity].blank?
        == - #{params[:commodity].titleize}         