%h2=header_generator
%div{:class=>:deposit}
    =link_to "Deposits with QA #{@qaed}", url_for(params.merge(:qa_status_code=>'C',:action=>:index)) 
%div{:class=>:deposit}
    =link_to "Deposits without QA #{@not_qaed}", url_for(params.merge(:qa_status_code=>'U',:action=>:index)) 
%div{:class=>:deposit}
    =link_to "Deposits without geometry #{@no_geometry}", url_for(params.merge(:coordinates=>'N',:action=>:index)) 
%div{:class=>:deposit}
    == Deposits without provinces #{@no_provinces}
- content_for(:sidebar) do
    %p= render :partial => "deposits/query"
- content_for(:controller_nav) do
    %p= render :partial => "deposits/links"
- content_for(:sidebar_download) do
    %p= render :partial => "deposits/format"
- content_for(:title_bar) do
    ==Deposits: QA
    - unless params[:commodity].blank?
        == - #{params[:commodity].titleize}
