%p
    == Total Deposits #{@total_deposits}
    == Deposits with QA #{@qaed}
    == Deposits without QA #{@not_qaed}
- content_for(:sidebar) do
    %p= render :partial => "deposits/query"
- content_for(:controller_nav) do
    %p= render :partial => "deposits/links"
- content_for(:sidebar_download) do
    %p= render :partial => "deposits/format"
- content_for(:title_bar) do
    ==Deposits: QA
    - unless params[:commodity].blank?
        == - #{params[:commodity].titleize}