%h2=header_generator
#qa_status
  #qaed
    =link_to "Deposits with QA #{@qaed}", url_for(params.merge(:qa_status_code=>'C',:action=>:index)) 
  #notqaed
    =link_to "Deposits without QA #{@not_qaed}", url_for(params.merge(:qa_status_code=>'U',:action=>:index)) 
#coordinates
  #coords
  #no_coods
    =link_to "Deposits without geometry #{@no_geometry}", url_for(params.merge(:coordinates=>'N',:action=>:index)) 
#provinces
  #has_provinces
  #no_provinces
    =link_to "Deposits without provinces #{@no_provinces}", url_for(params.merge(:provinces=>'N',:action=>:index))
- content_for(:sidebar) do
  %p= render :partial => "deposits/query"
- content_for(:controller_nav) do
  %p= render :partial => "deposits/links"
- content_for(:sidebar_download) do
  %p= render :partial => "deposits/format"
- content_for(:title_bar) do
  ==Deposits: QA
  - unless params[:commodity].blank?
    == - #{params[:commodity].titleize}
