%h2=header_generator
#qa.quality-block
  #qa-icon
  #qaed.quality-good
    -# TODO Call this spit_quality_block(number,params_hash) in the deposits helper
    .qual-num
      =link_to @qaed, url_for(params.merge(:qa_status_code=>'C'))
    .qual-caption
      have been QAed
    .qual-deposits-link
      =link_to "Click here to show list of these deposits", url_for(params.merge(:qa_status_code=>'C',:action=>:index))
  #notqaed.quality-bad
    .qual-num
      =link_to @not_qaed, url_for(params.merge(:qa_status_code=>'U'))
    .qual-caption
      have been QAed
    .qual-deposits-link
      =link_to "Click here to show list of these deposits", url_for(params.merge(:qa_status_code=>'U',:action=>:index))
#coordinates.quality-block
  #coords_icon
  #coords
  #no_coods.quality-bad
    =link_to "Deposits without geometry #{@no_geometry}", url_for(params.merge(:coordinates=>'N',:action=>:index)) 
#provinces.quality-block
  #provs_icon
  #has_provinces.quality-good
  #no_provinces.quality-bad
    =link_to "Deposits without provinces #{@no_provinces}", url_for(params.merge(:provinces=>'N',:action=>:index))
- content_for(:sidebar) do
  %p= render :partial => "deposits/query"
- content_for(:controller_nav) do
  %p= render :partial => "deposits/links"
- content_for(:sidebar_download) do
  %p= render :partial => "deposits/format"
- content_for(:title_bar) do
  ==Deposits: QA
  - unless params[:commodity].blank?
    == - #{params[:commodity].titleize}
