%h2=header_generator
%div{:class=>:deposit}
    == Total Deposits #{@total_deposits}
%div{:class=>:deposit}
    =link_to "Deposits with QA #{@qaed}", url_for(params.merge(:qa_status_code=>'C')) 
%div{:class=>:deposit}
    == Deposits without QA #{@not_qaed}
%div{:class=>:deposit}
    == Deposits without geometry #{@no_geometry}
%div{:class=>:deposit}
    == Deposits without provinces #{@no_provinces}
- content_for(:sidebar) do
    %p= render :partial => "deposits/query"
- content_for(:controller_nav) do
    %p= render :partial => "deposits/links"
- content_for(:sidebar_download) do
    %p= render :partial => "deposits/format"
- content_for(:title_bar) do
    ==Deposits: QA
    - unless params[:commodity].blank?
        == - #{params[:commodity].titleize}
