%p
    %table
        %tr
            %th &nbsp;
            %th Name
            %th State
            %th Status
            %th Commodities
            %th Atlas Visible
            %th Longitude
            %th Latitude
            %th Zone name
            %th Zone longitude
            %th Zone latitude
            %th Zone Commodities
            %th Resources
            %th Resources visible
            %th Resource date
            %th Source
        - for deposit in @deposits
            - if deposit.qa_status_code == "U" or deposit.access_code !="O" or deposit.geom == nil or !DepositStatus.atlas_statuses.include?(deposit.deposit_status.operating_status)
                - atlas_visible = false
                - visibility_style = 'invisible'
            - else
                - atlas_visible = true
                - visibility_style = 'visible'
            - zones = deposit.zones
            - row_span = zones.length > 0 ? zones.length : 1
            %tr
                %td{:class=>visibility_style,:rowspan=>row_span,:valign=>:top}= h deposit.eno
                %td{:class=>visibility_style,:rowspan=>row_span}= link_to deposit.entityid, deposit
                %td{:class=>visibility_style,:rowspan=>row_span}= h deposit.deposit_status.state
                %td{:class=>visibility_style,:rowspan=>row_span}= h deposit.deposit_status.operating_status.titleize
                %td{:class=>visibility_style,:rowspan=>row_span}= h deposit.commodity_list.try(:commodnames)
                %td{:class=>visibility_style,:rowspan=>row_span}= atlas_visible ? 'Yes' : 'No'
                %td{:class=>visibility_style,:rowspan=>row_span}= "%3.4f" % deposit.try(:longitude) if deposit.geom != nil
                %td{:class=>visibility_style,:rowspan=>row_span}= "%3.4f" % deposit.try(:latitude) if deposit.geom != nil
                - zones.each do |z|
                    - latest_resource =  z.resources.last
                    - if latest_resource.try(:pvr).to_i == 0 and  latest_resource.try(:pbr).to_i == 0 and latest_resource.try(:ppr).to_i == 0 and latest_resource.try(:mrs).to_i == 0 and latest_resource.try(:idr).to_i == 0 and latest_resource.try(:mid).to_i == 0 and latest_resource.try(:ifr).to_i == 0 and latest_resource.try(:other).to_i == 0
                        - zeroed = true
                    - else
                        - zeroed = false
                    - if latest_resource.nil?  or latest_resource.try(:qa_status_code) =='U' or latest_resource.try(:access_code) =='C'
                        - resources_visible = false
                        - visibility_style = 'invisible'
                    - else
                        - resources_visible = true
                    %td{:class=>visibility_style}= z.entityid
                    %td{:class=>visibility_style}= "%3.4f" % z.longitude rescue nil
                    %td{:class=>visibility_style}= "%3.4f" % z.latitude rescue nil
                    %td{:class=>visibility_style}
                        - unless latest_resource.nil?
                            - latest_resource.resource_grades.each do |grade|
                                ==#{grade.commodid}
                    %td{:class=>visibility_style}
                        - if latest_resource.nil?
                            No
                        - elsif zeroed
                            Zeroed
                        - else
                            Yes
                    %td{:class=>visibility_style}= resources_visible ? 'Yes' : 'No'
                    %td{:class=>visibility_style}= latest_resource.try(:recorddate)
                    %td{:class=>visibility_style}
                        - resource_reference = latest_resource.try(:resource_references)
                        - unless resource_reference.nil?
                            =resource_reference.first.try(:reference).try(:source)
                    - if !z.eql?(zones.last)
                        </tr><tr>
- content_for(:sidebar) do
    %p= render :partial => "deposits/query"
- content_for(:controller_nav) do
    %p= render :partial => "deposits/links"
- content_for(:sidebar_download) do
    %p= render :partial => "deposits/format"
%p= will_paginate @deposits
                