%p
    - resource_types = {"EDR"=>"Economic","DMP"=>"Paramarginal","DMS"=>"Submarginal","IFR"=>"Inferred", "TOTAL"=>"Total"}
    -# type = []
    - type = params[:type]  #if  params[:type]
    -# resource = []
    - resource = params[:resource] # if  params[:resource]
    - commod = String.new
    - aliased_commodities = CommodityType.aliases
    - if aliased_commodities.include?(params[:commodity])
        - commod=aliased_commodities[params[:commodity]]
    - else
        - commod=params[:commodity].split if params[:commodity]
    - header_row_span = 1
    - unless commod[0] == "All"
        - if type.first
            - header_row_span += 1
        - if resource.first
            - header_row_span += 1
    %table
        %tr
            %th &nbsp;
            %th Name
            %th State
            %th Status
            %th Longitude
            %th Latitude
            %th Commodities
            %th EDR MINERAL
        - for deposit in @deposits
            %tr
                %td= h deposit.eno
                %td=link_to deposit.entityid, deposit
                %td= h deposit.deposit_status.state
                %td= h deposit.deposit_status.operating_status.titleize
                %td.number= "%3.4f" % deposit.try(:longitude) if deposit.geom != nil
                %td.number= "%3.4f" % deposit.try(:latitude) if deposit.geom != nil
                %td= h deposit.commodity_list.try(:commodnames)
                - resources=deposit.resources
                - irs=IdentifiedResourceSet.new(resources)
                %td= irs.economic.mineral.to('Mt') rescue nil
                %td= resources.size
- content_for(:sidebar) do
    %p= render :partial => "deposits/query"
- content_for(:controller_nav) do
    %p= render :partial => "deposits/links"
- content_for(:sidebar_download) do
    %p= render :partial => "deposits/format"
- content_for(:title_bar) do
    ==Deposits: Economic Resources
    - unless params[:commodity].nil? || params[:commodity] == "All"
        == - #{params[:commodity].titleize}
%p= will_paginate @deposits
