%p
    - for deposit in @deposits
        %div.deposit
            %div.coordinates
                =link_to deposit_path(deposit, :format=> :kml), :title=> "Click for KML" do
                    = image_tag( 'globe-icon.png', :size=>'12x12')
                    ==#{'%3.4f' % deposit.try(:longitude) rescue nil}, #{'%3.4f' % deposit.try(:latitude) rescue nil}
            %div.eno
                =deposit.eno
            %div.name
                =link_to deposit.entityid, deposit
            - resources = deposit.resources.merge(Resource.mineral(@commodity).year(@date)).all
            - identified = IdentifiedResourceSet.new(resources)
            =#identified.economic.mineral
            
            
- content_for(:sidebar) do
    %p= render :partial => "deposits/query"
- content_for(:controller_nav) do
    %p= render :partial => "deposits/links"
- content_for(:sidebar_download) do
    %p= render :partial => "deposits/format"
- content_for(:title_bar) do
    ==Deposits: Economic Resources
    - unless params[:commodity].nil? || params[:commodity] == "All"
        == - #{params[:commodity].titleize}
%p= will_paginate @deposits
                