=content_for(:head) do
    %script{:type=>"text/javascript",:src=>"http://openlayers.org/api/2.10/OpenLayers.js"}
    %script{:type=>"text/javascript",:src=>"http://maps.google.com/maps/api/js?v=3.2&amp&sensor=false"}
    = javascript_include_tag "map"
    = stylesheet_link_tag "jorc"
    %script{:type => "text/javascript"}
        init_opts = {
        - unless @deposit.geom == nil
            longitude: #{@deposit.longitude},
            latitude: #{@deposit.latitude},
            zoom: 14
        - else
            longitude: 149.158362,
            latitude: -35.344028,
            zoom: 17
        }
        $(document).ready(function(){initialize(init_opts);});
%p
    #map.smallmap
    #latlong Click map for coordinates 
- content_for(:sidebar) do
    %p
        %h2= @deposit.name
        %table{:width=>"100%"}
            - if @deposit.deposit_status.synonyms
                %tr
                    %td Synonyms
                    %td= @deposit.deposit_status.synonyms
            %tr
                %td State
                %td= @deposit.deposit_status.state
            %tr
                %td Commodities
                %td= @deposit.commodity_list.commodids rescue nil
            %tr
                %td Commodity Names
                %td= @deposit.commodity_list.commodnames rescue nil
            %tr
                %td Operating Status
                %td= @deposit.deposit_status.operating_status.titleize
    - unless @deposit.geom.nil?
        %h3 Location
        %table{:width=>"100%"}
            %tr
                %td Longitude
                %td= "%3.6f" % @deposit.longitude
            %tr
                %td Latitude
                %td= "%3.6f" % @deposit.latitude
            %tr
                %td Datum
                %td GDA94
    %br
    - status = @deposit.deposit_status.operating_status
    - if @deposit.access_code != "O" or @deposit.qa_status_code == "U" or @deposit.deposit_status.restricted == "Y" or !DepositStatus.atlas_statuses.values.include?(status) or @deposit.geom.nil?
        %div.warn
            This #{status} is not visible in the Mines Atlas because
            %ul
                - if @deposit.access_code != "O"
                    %li it is flagged confidential
                - if @deposit.qa_status_code == "U"
                    %li it has not been QAed
                - if @deposit.deposit_status.restricted == "Y"
                    %li it is flagged as restricted
                - if @deposit.geom == nil
                    %li it has no coordinates
                - if !DepositStatus.atlas_statuses.values.include?(status)
                    %li== it is not an #{DepositStatus.statuses.values.compact.to_sentence(:last_word_connector=>", or ")}
    - else
        %p
            %i
                %a{:href=>"http://www.australianminesatlas.gov.au/?site=atlas&x=#{@deposit.longitude}&y=#{@deposit.latitude}&z=2.565"} View in Mines Atlas
    - weblinks = @deposit.weblinks
    - unless weblinks.length == 0
        %h3 Links of interest
        %ul
            - weblinks.each do |w|
                %li
                    %a{:href=>w.website.url}= w.website.description
    - zones = @deposit.zones.order(:entityid)
    - unless (current_user && current_user.ozmin?)
        - zones = zones.public
    - unless zones.length == 0
        %h3 Reserves and resources
        - dead_zones = Array.new
        - zones.each do |zone|
            - @resource = zone.resources.recent.nonzero.first
            - if @resource.nil?
                - dead_zones << zone
            - else
                %p
                    %h4= link_to zone.name, zone
                    =render('resources/resource')
        - if dead_zones.length > 0 
            - if dead_zones.length == zones.length
                %i There are no active reserves or resources associated with this deposit.
            %h3 Other zones
            - null_zones = Array.new
            - dead_zones.each do |dead_zone|
                - resources = dead_zone.resources
                - if resources.empty?
                    - null_zones << dead_zone
                - else
                    %h4.zeroed= link_to "#{dead_zone.name} (Zeroed)", dead_zone
            - if null_zones.length > 0
                - null_zones.each do |null_zone|
                    %h4.null= link_to "#{null_zone.name} (Empty)", null_zone
        //%h3 Files
        -# bloblinks = @deposit.bloblinks
        -# bloblinks.each do |bloblink|
            -# blob = Blob.safe(bloblink.blobno).first
            //%p= blob.name
            =# link_to 'Show', blob
    - else
        %p
            %i There are no mineralized zones associated with this deposit
- content_for(:controller_nav) do
    %p= render :partial => "deposits/links"
- content_for(:title_bar) do
    ==Deposits: #{@deposit.name} (#{@deposit.eno})