=content_for(:head) do
    = render "shared/map"
    = javascript_include_tag "map"
    = stylesheet_link_tag 'jorc'
    %script{:type => "text/javascript"}
        - deposit = @zone.deposit
        init_opts = {
        - unless @zone.deposit.geom == nil
            longitude: #{@zone.deposit.longitude},
            latitude: #{@zone.deposit.latitude},
            zoom: 14
        - else
            longitude: 149.158362,
            latitude: -35.344028,
            zoom: 17
        }
        $(document).ready(function(){initialize(init_opts);});
    -#javascript "pagination"
%p
    %p
        %h2= @zone.name
        %table{:width=>"100%"}
            %tr
                %td Deposit
                %td= link_to @zone.deposit.name, @zone.deposit
            %tr
                %td State
                %td= @zone.deposit.deposit_status.state
            %tr
                %td Commodities
                %td= @zone.deposit.commodity_list.commodids rescue nil
            %tr
                %td Commodity Names
                %td= @zone.deposit.commodity_list.commodnames rescue nil
        - unless @zone.deposit.geom.nil?
            %h3 Zone Location
            %table{:width=>"100%"}
                %tr
                    %td Longitude
                    %td= "%3.6f" % @zone.longitude
                %tr
                    %td Latitude
                    %td= "%3.6f" % @zone.latitude
                %tr
                    %td Datum
                    %td GDA94
        %h3 Current resources
        - resources = @zone.resources
        - @resource = resources.shift
        - unless @resource.nil?
            = render :partial => 'resources/resource'
        %h3 Older resources
        - resources.each do |r|
            %p
                -if r.zero?
                    =link_to r.recorddate.to_formatted_s(:long), r
                -else
                    =link_to r.recorddate.to_formatted_s(:long), r
- content_for(:sidebar) do
    #map.smallmap
- content_for(:title_bar) do
    ==Zones: #{@zone.name} (#{@zone.deposit.name})