=content_for(:head) do
    %script{:type=>"text/javascript",:src=>"http://openlayers.org/api/2.10/OpenLayers.js"}
    %script{:type=>"text/javascript",:src=>"http://maps.google.com/maps/api/js?v=3.2&amp&sensor=false"}
    = javascript_include_tag "map"
    %script{:type => "text/javascript"}
        - deposit = @zone.deposit
        init_opts = {
        - unless @zone.deposit.geom == nil
            longitude: #{@zone.deposit.longitude},
            latitude: #{@zone.deposit.latitude},
            zoom: 14
        - else
            longitude: 149.158362,
            latitude: -35.344028,
            zoom: 17
        }
        $(document).ready(function(){initialize(init_opts);});
    -#javascript "pagination"
%p
    %p
        %h2= @zone.name
        %table{:width=>"100%"}
            %tr
                %td Deposit
                %td= link_to @zone.deposit.name, @zone.deposit
            %tr
                %td State
                %td= @zone.deposit.deposit_status.state
            %tr
                %td Commodities
                %td= @zone.deposit.commodity_list.commodids rescue nil
            %tr
                %td Commodity Names
                %td= @zone.deposit.commodity_list.commodnames rescue nil
        %h3 Location
        %table{:width=>"100%"}
            %tr
                %td Longitude
                %td= "%3.6f" % @zone.deposit.longitude
            %tr
                %td Latitude
                %td= "%3.6f" % @zone.deposit.latitude
            %tr
                %td Datum
                %td GDA94
        - @resource = @zone.resources.recent.first
        - unless !@resource
            = render :partial => 'resources/resource'
- content_for(:sidebar) do
    #map.smallmap
