=content_for(:head) do
    = render "shared/map"
    = javascript_include_tag :rhubarb
    %script{:type => "text/javascript"}
     
        var options = {
        layerOptions : #{raw params.to_json},
        centreLongitude: #{@occurrence.longitude},
        centreLatitude: #{@occurrence.latitude},
        zoomLevel: 15
        }

        $(document).ready(function(){ new Rhubarb('map',options);});
%p
    #map.smallmap
- content_for(:sidebar) do
    %p
        %h2= @occurrence.name
        %table{:width=>"100%"}
            - if @occurrence.project
                %tr
                    %td Project
                    %td= @occurrence.project
            %tr
                %td State
                %td= @occurrence.state
            %tr
                %td Commodities
                %td= @occurrence.commods rescue nil
            %tr
                %td Commodity Names
                %td= @occurrence.commdnames rescue nil
        %h3 Location
        %table{:width=>"100%"}
            %tr
                %td Longitude
                %td= "%3.6f" % @occurrence.longitude
            %tr
                %td Latitude
                %td= "%3.6f" % @occurrence.latitude
            %tr
                %td Datum
                %td GDA94
- content_for(:controller_nav) do
    %p= render :partial => "occurrences/links"
- content_for(:title_bar) do
    ==Occurrences: #{@occurrence.name} (#{@occurrence.minlocno})